<div class="row">
    <div class="col">
        <div class="card pokemon-card">
            <img class="card-img-top" src="~/cdn/img/pokemon/thumbnails/001.png" alt="bulbasaur" />
            <div class="card-body">
                <h5 class="card-title">Bulbasaur</h5>
                <p class="card-text">#001</p>
            </div>
        </div>
        <div class="card pokemon-card">
            <img class="card-img-top" src="~/cdn/img/pokemon/thumbnails/004.png" alt="charmander" />
            <div class="card-body">
                <h5 class="card-title">Charmander</h5>
                <p class="card-text">#025</p>
            </div>
        </div>
        <div class="card pokemon-card">
            <img class="card-img-top" src="~/cdn/img/pokemon/thumbnails/007.png" alt="squirtle" />
            <div class="card-body">
                <h5 class="card-title">Squirtle</h5>
                <p class="card-text">#007</p>
            </div>
        </div>
        <div class="card pokemon-card">
            <img class="card-img-top" src="~/cdn/img/pokemon/thumbnails/025.png" alt="pikachu" />
            <div class="card-body">
                <h5 class="card-title">Pikachu</h5>
                <p class="card-text">#025</p>
            </div>
        </div>
    </div>
</div>