#main-search-input {
    transition: none;
}

    #main-search-input:focus {
        box-shadow: 0 0 0.2rem 0.2rem rgba(0, 123, 255, 0.5);
        clip-path: inset(-5px 1px -5px -5px);
    }

#main-search-icon {
    background-color: #fff;
}

.pokemon-card {
    width: 215px;
    margin: 10px auto;
}